/* div.footer{
    width: 100%;
    height: 1320px;
    display: flex;
    flex-flow: column nowrap;
} */

div.footer>div.footerup{
    width: 100%;
    height: 580px;
    background-color: yellow;
}

div.footer>div.footerdown{
    width: 100%;
    height: 470px;
    background-color: pink;
}

div.footer>div.footerup>div.p1>div.logo{
    width: 30%;
    height: inherit;
    display: inline-block;
    vertical-align: top;
    text-align: right;
    padding: 10px 20px;
    box-sizing: border-box;
    background-color: navy;
}

div.footer>div.footerup>div.p1>div.logo>svg{
    width: 85%;
}

